{
  "openapi": "3.1.0",
  "info": {
    "title": "Vimmerse Rest API",
    "description": "\nWelcome to the Vimmerse Platform API. As of June 2024, we are building the REST v2.1.0 API service to be the primary API service for the Vimmerse Platform. All services on the API will continue to be maintained.\n\n## Authentication\n\nYou will need your [Vimmerse API key]() to make requests to this API. Make sure you never share your API key with anyone, and never commit it to a public repository. Include this key in the `X-Api-Key` header of your requests. You don't have to worry about authorization tokens if you have your API key. To experience our platform, you can contact us to get a free API key.\n",
    "termsOfService": "https://www.vimmerse.net/terms-of-service",
    "contact": {
      "name": "Support Team",
      "url": "https://www.vimmerse.net/contact-us",
      "email": "support@vimmerse.net"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://www.vimmerse.net/Vimmerse-logo.png"
    }
  },
  "servers": [
    {
      "url": "https://api.vimmerse.net"
    }
  ],
  "tags": [
    {
      "name": "Media",
      "description": "\nAPIs for creating and managing media (animated videos) with comprehensive control over generation parameters.\n\n## Key Features\n\n- **Image-to-Video**: Transform static images into animated videos\n- **Text-to-Video**: Generate videos from text descriptions\n- **Multiple Motion Types**: Support for various AI models (Auto, KlingAI, LumaAI, RunwayML, etc.)\n- **Audio Options**: Native sound effects, narration, and background music\n- **Webhook Notifications**: Real-time completion notifications\n- **Status Tracking**: Monitor processing progress in real-time\n- **Flexible Output**: Customize aspect ratios, duration, and quality\n\n## Common Use Cases\n\n- **Product Videos**: Animate product images for marketing campaigns\n- **Social Media Content**: Create engaging short videos for platforms\n- **Animation**: Bring static images to life with AI-generated motion\n- **Creative Expression**: Generate unique video content from imagination\n- **Transition Videos**: Create smooth morphing effects between two images\n\n## Input Options\n\n### 1. Single Image\nUpload one image to generate an animated video with AI-generated motion. The system automatically creates natural movement based on the image content.\n\n### 2. Two Images\nUpload two images (start and end frames) to create a transition video. The system generates smooth morphing animations between the frames.\n\n### 3. Text Prompt Only\nProvide a text description to generate a video entirely from scratch. No images required - pure AI generation.\n\n### 4. Media Items (Advanced)\nUse the `media_items` parameter to specify complex input configurations with multiple images, videos, and precise positioning.\n"
    },
    {
      "name": "Story",
      "description": "\n## Overview\n\nThe Story API enables you to generate professional video stories from text ideas or existing images using AI-powered video generation. The API supports two distinct workflows:\n\n### Automatic Mode\nStreamlined endpoints that handle the entire video generation pipeline automatically:\n- `POST /story/idea-2-video` - Generate a complete video from a text idea\n- `POST /story/url-2-video` - Generate a complete video from a URL.\n- `POST /story/images-2-video` - Generate a video from your own images\n\n### Advanced Mode\nStep-by-step workflow providing granular control over each stage:\n- `POST /story` - Create a storyboard with characters, environments, objects and scenes\n- `POST /story/{story_id}/elements` - Generate element images (optional)\n- `POST /story/{story_id}/scenes` - Generate scene images and narrations\n- `POST /story/{story_id}/videos` - Create videos from scenes\n- `GET /story/{story_id}` - Get story status and details\n\n---\n\n## Quick Start Examples\n\n### Example 1: Generate Video from Idea (Automatic Mode)\n\n```python\nimport requests\nimport json\n\nBASE_URL = \"https://api.vimmerse.net\"\nAPI_KEY = \"YOUR_API_KEY\"\n\n# Step 1: Create a story from an idea (JSON body)\nurl = f\"{BASE_URL}/story/idea-2-video\"\nheaders = {\"X-Api-Key\": API_KEY, \"Content-Type\": \"application/json\"}\n\npayload = {\n    \"idea\": \"Create a promotional video where cute animals play musical instruments in a sunny meadow\",\n    \"title\": \"Musical Animals Story\",\n    \"aspect_ratio\": \"9:16\",\n    \"scene_count\": 4,\n    \"image_tool\": \"Seedream\",\n    \"video_tool\": \"Auto\",\n    \"scene_duration\": 5,\n    \"audio_option\": {\"has_bg_music\": True, \"has_narration\": True, \"native_audio\": False, \"narrator\": \"Rachel\"},\n    \"language\": \"English\",\n    \"webhook_url\": \"https://your-domain.com/webhook/callback\"\n}\n\ntry:\n    response = requests.post(url, headers=headers, json=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    story_data = result[\"data\"]\n    story_id = story_data[\"id\"]\n\n    print(f\"Story created successfully! Story ID: {story_id}\")\n    print(f\"Status: {story_data['status']}\")\n    print(f\"Progress: {story_data['progress_percentage']}%\")\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error creating story: {e}\")\n    if hasattr(e, 'response') and e.response is not None:\n        print(f\"Response: {e.response.text}\")\n    exit(1)\n```\n\n### Example 2: Generate Video from Images (Automatic Mode)\n\n```python\nimport requests\nimport json\n\nBASE_URL = \"https://api.vimmerse.net\"\nAPI_KEY = \"YOUR_API_KEY\"\n\nurl = f\"{BASE_URL}/story/images-2-video\"\nheaders = {\"X-Api-Key\": API_KEY, \"Content-Type\": \"application/json\"}\n\npayload = {\n    \"idea\": \"Create a cinematic promotional video showcasing these beautiful landscapes with smooth transitions\",\n    \"title\": \"Landscape Showcase\",\n    \"aspect_ratio\": \"16:9\",\n    \"image_urls\": [\n        \"https://example.com/images/landscape1.jpg\",\n        \"https://example.com/images/landscape2.jpg\",\n        \"https://example.com/images/landscape3.jpg\",\n        \"https://example.com/images/landscape4.jpg\"\n    ],\n    \"video_tool\": \"Auto\",\n    \"is_transition\": True,\n    \"scene_duration\": 5,\n    \"audio_option\": {\"has_bg_music\": True, \"has_narration\": False, \"native_audio\": False},\n    \"language\": \"English\"\n}\n\ntry:\n    response = requests.post(url, headers=headers, json=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    story_data = result[\"data\"]\n    print(f\"Story created! ID: {story_data['id']}\")\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error: {e}\")\n    exit(1)\n```\n\n### Example 3: Polling for Story Completion\n\n```python\nimport requests\nimport time\n\nBASE_URL = \"https://api.vimmerse.net\"\nAPI_KEY = \"YOUR_API_KEY\"\nSTORY_ID = \"your-story-id-here\"\n\ndef get_story_status(story_id):\n    \"\"\"Retrieve the current status of a story.\"\"\"\n    url = f\"{BASE_URL}/story/{story_id}\"\n    headers = {\"X-Api-Key\": API_KEY}\n\n    try:\n        response = requests.get(url, headers=headers, timeout=30)\n        response.raise_for_status()\n        return response.json()[\"data\"]\n    except requests.exceptions.RequestException as e:\n        print(f\"Error retrieving story status: {e}\")\n        return None\n\n# Poll until story is complete\nmax_attempts = 60  # Maximum 30 minutes (60 * 30 seconds)\nattempt = 0\n\nwhile attempt < max_attempts:\n    story_data = get_story_status(STORY_ID)\n\n    if not story_data:\n        print(\"Failed to retrieve story status. Retrying...\")\n        time.sleep(30)\n        attempt += 1\n        continue\n\n    status = story_data.get(\"status\")\n    progress = story_data.get(\"progress_percentage\", 0)\n\n    print(f\"Status: {status} | Progress: {progress}%\")\n\n    if status == \"success\":\n        video_url = story_data.get(\"video_url\")\n        if video_url:\n            print(f\"\\n✓ Story completed successfully!\")\n            print(f\"Video URL: {video_url}\")\n\n            # Download the video\n            try:\n                video_response = requests.get(video_url, stream=True, timeout=60)\n                video_response.raise_for_status()\n\n                output_path = \"story_video.mp4\"\n                with open(output_path, \"wb\") as f:\n                    for chunk in video_response.iter_content(chunk_size=8192):\n                        f.write(chunk)\n                print(f\"Video downloaded to: {output_path}\")\n            except Exception as e:\n                print(f\"Error downloading video: {e}\")\n        break\n    elif status == \"fail\":\n        print(\"✗ Story generation failed. Please check the story details for more information.\")\n        break\n\n    time.sleep(30)  # Wait 30 seconds before next check\n    attempt += 1\n\nif attempt >= max_attempts:\n    print(\"Timeout: Story generation is taking longer than expected.\")\n```\n\n---\n\n## Webhook Integration\n\nInstead of polling, you can configure a webhook URL to receive notifications when story generation completes.\n\n### Setting Up Webhooks\n\nInclude the `webhook_url` parameter when creating a story:\n\n```python\npayload = {\n    \"idea\": \"Your story idea here\",\n    \"webhook_url\": \"https://your-domain.com/api/webhooks/story-complete\",\n    # ... other parameters\n}\n```\n\n### Webhook Payload\n\nWhen the story completes, your webhook endpoint will receive a POST request with:\n\n```json\n{\n    \"customer_id\": \"your-customer-id\",\n    \"batch_id\": \"story-id-here\",\n    \"status\": \"success\"\n}\n```\n\n### Webhook Implementation Example\n\n```python\nfrom flask import Flask, request, jsonify\nimport requests\n\napp = Flask(__name__)\n\n@app.route(\"/api/webhooks/story-complete\", methods=[\"POST\"])\ndef story_webhook():\n    \"\"\"Handle story completion webhook.\"\"\"\n    data = request.json\n\n    customer_id = data.get(\"customer_id\")\n    story_id = data.get(\"batch_id\")\n    status = data.get(\"status\")\n\n    if status == \"success\":\n        # Fetch full story details\n        url = f\"https://api.vimmerse.net/story/{story_id}\"\n        headers = {\"X-Api-Key\": \"YOUR_API_KEY\"}\n\n        response = requests.get(url, headers=headers)\n        story_data = response.json()[\"data\"]\n\n        # Process the completed story\n        video_url = story_data.get(\"video_url\")\n        # ... your processing logic here\n\n        return jsonify({\"status\": \"received\"}), 200\n\n    return jsonify({\"status\": \"received\"}), 200\n\nif __name__ == \"__main__\":\n    app.run(port=5000)\n```\n\n**Note:** Your webhook endpoint must respond with a 2xx status code within 10 seconds, or the webhook may be retried.\n"
    },
    {
      "name": "Workflow",
      "description": "\n## Overview\n\nThe Workflow API enables you to create sophisticated video transformations by applying multi-step processing pipelines to your images. Workflows automate complex video production tasks through predefined templates that handle multiple processing steps automatically.\n\n## How Workflows Work\n\n1. **Upload Images** - Provide one or more images as input\n2. **Select Template** - Choose a workflow template that defines the processing steps\n3. **Configure Options** - Customize template-specific options (backgrounds, prompts, motion types)\n4. **Process** - The workflow automatically executes all steps in sequence\n5. **Get Results** - Retrieve the final processed video and intermediate step results\n\n## Available Templates\n\n### Overlay Templates\n\n**overlay_gray_5443** (Recommended)\n- Creates overlay videos with grayscale background replacement\n- Includes upscaling for higher quality output\n- Best for: Professional product showcases, marketing videos\n\n**overlay_gray_5442**\n- Basic overlay with grayscale background\n- Faster processing, lower quality than 5443\n- Best for: Quick previews, simple overlays\n\n**overlay_only_1025**\n- Simple overlay without background processing\n- Requires pre-animated video input\n- Best for: Combining existing animations with backgrounds\n\n### Specialized Templates\n\n**vim_new_year_2026** - Transforms person into astronaut in microgravity scene\n**vim_dancing_santa** - Creates space jump scene with astronaut suit transformation\n**vim_birthday** - Simulates moonwalk on lunar surface with astronaut suit\n**vim_instagramframeescape_0226** - Ceremonial flag planting on lunar surface\n**vim_dreamcareer_0226** - Career transformation scenes\n**vim_ces_show** - Trade show presentations\n**vim_amazonia** - Nature and adventure scenes\n**vim_arctic** - Arctic exploration themes\n**vim_sketch_me** - Artistic sketch transformations\n**vim_product_showcase** - Product demonstration videos\n**each_explodedloop_0226** - Exploded view animations\n**each_ugcproduct_0226** - User-generated content product videos\n\n## Workflow Processing Steps\n\nEach template follows a specific processing pipeline that may include:\n- Content cropping and alpha channel replacement\n- Image-to-image transformation\n- Background replacement\n- Face swapping\n- Video animation creation\n- Upscaling and enhancement\n- Video composition\n\n## Quick Start Example\n\n```python\nimport requests\nimport json\nimport time\n\nBASE_URL = \"https://api.vimmerse.net\"\nAPI_KEY = \"YOUR_API_KEY\"\n\n# Step 1: Create workflow\nurl = f\"{BASE_URL}/workflow\"\nheaders = {\"X-Api-Key\": API_KEY}\n\n# Prepare options for overlay video template\noptions = {\n    \"background_urls\": \"https://example.com/background1.mp4,https://example.com/background2.mp4\",\n    \"prompt\": \"Person is joyfully smiling and walking backward while still looking forward.\",\n    \"motion_type\": \"Auto\"\n}\n\npayload = {\n    \"title\": \"My Workflow Video\",\n    \"description\": \"Animated overlay video\",\n    \"template_id\": \"overlay_gray_5443\",\n    \"options\": json.dumps(options),\n    \"visibility_status\": \"1\",\n    \"image_urls\": [\"https://example.com/image.png\"]\n}\n\ntry:\n    response = requests.post(url, headers=headers, data=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    workflow_data = result[\"data\"]\n    workflow_id = workflow_data[\"id\"]\n\n    print(f\"✓ Workflow created! ID: {workflow_id}\")\n    print(f\"  Status: {workflow_data['processing_status']}\")\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"✗ Error creating workflow: {e}\")\n    exit(1)\n\n# Step 2: Poll for completion\nprint(\"\\nPolling for workflow completion...\")\nmax_attempts = 120  # Maximum 60 minutes\nattempt = 0\npoll_interval = 30  # Check every 30 seconds\n\ndef get_workflow_status(workflow_id):\n    \"\"\"Retrieve the current status of a workflow.\"\"\"\n    url = f\"{BASE_URL}/workflow/{workflow_id}\"\n    headers = {\"X-Api-Key\": API_KEY}\n\n    try:\n        response = requests.get(url, headers=headers, timeout=30)\n        response.raise_for_status()\n        return response.json()[\"data\"]\n    except requests.exceptions.RequestException as e:\n        print(f\"  Warning: Error retrieving status: {e}\")\n        return None\n\nwhile attempt < max_attempts:\n    workflow_data = get_workflow_status(workflow_id)\n\n    if not workflow_data:\n        print(f\"  Attempt {attempt + 1}/{max_attempts}: Failed to retrieve status, retrying...\")\n        time.sleep(poll_interval)\n        attempt += 1\n        continue\n\n    status = workflow_data.get(\"processing_status\")\n    progress = workflow_data.get(\"progress_percentage\", 0)\n\n    print(f\"  Attempt {attempt + 1}/{max_attempts}: Status={status}, Progress={progress}%\")\n\n    if status == \"success\":\n        results = workflow_data.get(\"result\", [])\n        if results:\n            print(f\"\\n✓ Workflow completed successfully!\")\n            for result_item in results:\n                video_url = result_item.get(\"url\")\n                content_type = result_item.get(\"content_type\")\n                print(f\"  Result: {content_type} - {video_url}\")\n        break\n    elif status == \"fail\":\n        print(f\"\\n✗ Workflow processing failed.\")\n        print(f\"  Workflow ID: {workflow_id}\")\n        exit(1)\n\n    time.sleep(poll_interval)\n    attempt += 1\n\nif attempt >= max_attempts:\n    print(f\"\\n⚠ Timeout: Workflow processing is taking longer than expected.\")\n    print(f\"  Workflow ID: {workflow_id}\")\n    print(f\"  Please check the status later using: GET {BASE_URL}/workflow/{workflow_id}\")\n```\n\n## Webhook Integration\n\nInstead of polling, you can configure a webhook URL to receive notifications when workflow processing completes.\n\n### Setting Up Webhooks\n\nInclude the `webhook_url` parameter when creating a workflow (if supported by the template):\n\n```python\npayload = {\n    \"template_id\": \"overlay_gray_5443\",\n    \"options\": json.dumps(options),\n    \"webhook_url\": \"https://your-domain.com/api/webhooks/workflow-complete\",\n    # ... other parameters\n}\n```\n\n**Note:** Webhook support varies by template. Check template-specific documentation for webhook availability.\n"
    },
    {
      "name": "Image",
      "description": "APIs for generating and editing images."
    },
    {
      "name": "Text",
      "description": "APIs for generating and editing prompt."
    },
    {
      "name": "Video",
      "description": "APIs for editing video."
    },
    {
      "name": "Audio",
      "description": "APIs for generating audios."
    },
    {
      "name": "Asset",
      "description": "APIs for getting Image, Video, Audio Detail."
    },
    {
      "name": "Finetune",
      "description": "APIs for training new model."
    },
    {
      "name": "Statistics",
      "description": "APIs for getting statistics data."
    },
    {
      "name": "Other",
      "description": "Vimmerse health checker service."
    }
  ],
  "paths": {
    "/media": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Create Media",
        "description": "Creates a new media object and initiates video generation from images, text prompts, or a combination of both.\n\n## How It Works\n\n### Input Types\n\n1. **Two Images** - Creates a transition video between start and end frames\n2. **Single Image** - Generates animated video from the image with AI-generated motion\n3. **Text Prompt Only** - Creates video from a text description without images\n4. **Media Items** - Advanced configuration with multiple inputs and precise control\n\n### Workflow\n\nOnce submitted, the API:\n1. Validates input parameters and checks credit availability\n2. Creates a media object with unique ID\n3. Queues the video generation job\n4. Returns immediately with media ID and initial status\n5. Processes video generation asynchronously\n6. Updates status when complete (poll or webhook)\n\n## Parameters\n\n| Parameter | Type | Required | Default | Description |\n|-----------|------|----------|---------|-------------|\n| `title` | string | No | \"\" | Media title for organization |\n| `description` | string | No | \"\" | Media description |\n| `visibility_status` | string | No | \"1\" | Access control: \"0\" (private), \"1\" (unlisted), \"2\" (public) |\n| `image_files` | array[file] | No* | [] | Image files to upload (multipart/form-data). **Deprecated** - use `media_items` instead. |\n| `image_urls` | array[string] | No* | [] | Public image URLs. **Deprecated** - use `media_items` instead. |\n| `media_items` | string (JSON) | No* | null | Advanced input configuration. JSON array with `type`, `url`, and `position` fields. |\n| `prompt` | string | No* | \"\" | Text description for video generation. Required if no images provided. |\n| `motion_type` | string | No | \"Auto\" | AI model for motion: `Auto`, `KlingAI`, `LumaAI`, `RunwayML`|\n| `quantity` | integer | No | 1 | Number of video variations to generate (1-4) |\n| `duration` | integer | No | 5 | Video length in seconds (1-10) |\n| `loop` | integer | No | 1 | Number of times to repeat motion (1-6). Ignored when narration is used. |\n| `audio_option` | string (JSON) | No | null | Audio configuration (see Audio Options below) |\n| `character_animate` | boolean | No | false | Enable character animation mode |\n| `model` | string | No | null | Try-on model: `SeedreamTryOn`, `NanoBananaProTryOn`, `FashnTryOn`, `ViduTryOn`, `KlingTryOn` |\n| `aspect_ratio` | string | No | null | Video dimensions: `16:9`, `4:3`, `1:1`, `3:4`, `9:16` |\n| `webhook_url` | string | No | null | URL for completion notification |\n\nEither `prompt`, `image_files`, `image_urls`, or `media_items` must be provided.\n\n## Example 1: Create Media with Image Files\n\n```python\nimport requests\n\nBASE_URL = \"https://api.vimmerse.net\"\nAPI_KEY = \"YOUR_API_KEY\"\n\nurl = f\"{BASE_URL}/media\"\nheaders = {\"X-Api-Key\": API_KEY}\n\n# Prepare image files\nfiles = [\n    (\"image_files\", (\"start_frame.png\", open(\"path/to/start_frame.png\", \"rb\"), \"image/png\")),\n    (\"image_files\", (\"end_frame.png\", open(\"path/to/end_frame.png\", \"rb\"), \"image/png\"))\n]\n\npayload = {\n    \"title\": \"Morph Animation\",\n    \"description\": \"Transition between two scenes\",\n    \"motion_type\": \"Auto\",\n    \"duration\": 5,\n    \"aspect_ratio\": \"16:9\"\n}\n\ntry:\n    response = requests.post(url, headers=headers, data=payload, files=files, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    media_data = result[\"data\"]\n\n    print(f\"Media created! ID: {media_data['id']}\")\n    print(f\"Status: {media_data['processing_status']}\")\n\n    # Close file handles\n    for _, f in files:\n        if hasattr(f[1], 'close'):\n            f[1].close()\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error: {e}\")\n    # Ensure files are closed on error\n    for _, f in files:\n        if hasattr(f[1], 'close'):\n            f[1].close()\n```\n\n## Example 2: Create Media with Media Items (Recommended)\n\n```python\nimport requests\nimport json\n\nBASE_URL = \"https://api.vimmerse.net\"\nAPI_KEY = \"YOUR_API_KEY\"\n\nurl = f\"{BASE_URL}/media\"\nheaders = {\"X-Api-Key\": API_KEY}\n\npayload = {\n    \"title\": \"Product Showcase\",\n    \"prompt\": \"Smooth camera movement showcasing the product\",\n    \"media_items\": json.dumps([\n        {\n            \"type\": \"image\",\n            \"url\": \"https://example.com/product-front.png\",\n            \"position\": \"First\"\n        },\n        {\n            \"type\": \"image\",\n            \"url\": \"https://example.com/product-back.png\",\n            \"position\": \"Last\"\n        }\n    ]),\n    \"motion_type\": \"KlingAI\",\n    \"quantity\": 2,\n    \"duration\": 8,\n    \"camera_control\": \"HorizontalArc\",\n    \"audio_option\": json.dumps({\n        \"narrator\": \"Sarah\",\n        \"narration\": \"Introducing our revolutionary product\",\n        \"bg_music_prompt\": \"Upbeat, modern background music\"\n    }),\n    \"aspect_ratio\": \"9:16\",\n    \"webhook_url\": \"https://your-domain.com/webhook/media-complete\"\n}\n\ntry:\n    response = requests.post(url, headers=headers, data=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    print(f\"Media created: {result['data']['id']}\")\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error: {e}\")\n```\n\n## Example 3: Text Prompt Only\n\n```python\nimport requests\nimport json\n\nBASE_URL = \"https://api.vimmerse.net\"\nAPI_KEY = \"YOUR_API_KEY\"\n\nurl = f\"{BASE_URL}/media\"\nheaders = {\"X-Api-Key\": API_KEY}\n\npayload = {\n    \"title\": \"AI Generated Video\",\n    \"prompt\": \"A cute bunny jumping through a magical forest with sparkling fairy dust and glowing mushrooms\",\n    \"motion_type\": \"Auto\",\n    \"duration\": 5,\n    \"aspect_ratio\": \"16:9\",\n    \"audio_option\": json.dumps({\n        \"narrator\": \"Rachel\",\n        \"narration\": \"In a magical forest, a bunny discovers wonder and adventure\",\n        \"bg_music_prompt\": \"Gentle, magical background music with chimes and soft melodies\"\n    }),\n    \"webhook_url\": \"https://your-domain.com/webhook/media-complete\"\n}\n\ntry:\n    response = requests.post(url, headers=headers, data=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    media_data = result[\"data\"]\n\n    print(f\"Media created! ID: {media_data['id']}\")\n    print(f\"Status: {media_data['processing_status']}\")\n\nexcept requests.exceptions.HTTPError as e:\n    print(f\"HTTP Error: {e}\")\n    if e.response is not None:\n        print(f\"Response: {e.response.text}\")\nexcept requests.exceptions.RequestException as e:\n    print(f\"Request failed: {e}\")\n```\n\n## Complete Example with Polling\n\nThis complete example creates media, polls for completion, and downloads the final video:\n\n```python\nimport requests\nimport json\nimport time\n\nBASE_URL = \"https://api.vimmerse.net\"\nAPI_KEY = \"YOUR_API_KEY\"\n\n# Step 1: Create media\nurl = f\"{BASE_URL}/media\"\nheaders = {\"X-Api-Key\": API_KEY}\n\npayload = {\n    \"title\": \"Product Animation\",\n    \"prompt\": \"Smooth camera movement showcasing a sleek smartphone\",\n    \"motion_type\": \"Auto\",\n    \"duration\": 5,\n    \"aspect_ratio\": \"16:9\",\n    \"audio_option\": json.dumps({\n        \"narrator\": \"Sarah\",\n        \"narration\": \"Introducing our latest innovation\",\n        \"bg_music_prompt\": \"Modern, upbeat background music\"\n    })\n}\n\nprint(\"Creating media...\")\ntry:\n    response = requests.post(url, headers=headers, data=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    media_data = result[\"data\"]\n    media_id = media_data[\"id\"]\n\n    print(f\"✓ Media created successfully!\")\n    print(f\"  Media ID: {media_id}\")\n    print(f\"  Status: {media_data['processing_status']}\")\n\nexcept requests.exceptions.HTTPError as e:\n    print(f\"✗ HTTP Error: {e}\")\n    if e.response is not None:\n        print(f\"  Response: {e.response.text}\")\n    exit(1)\nexcept requests.exceptions.RequestException as e:\n    print(f\"✗ Request failed: {e}\")\n    exit(1)\n\n# Step 2: Poll for completion\nprint(\"\\nPolling for media completion...\")\nmax_attempts = 120  # Maximum 60 minutes\nattempt = 0\npoll_interval = 30  # Check every 30 seconds\n\ndef get_media_status(media_id):\n    \"\"\"Retrieve the current status of a media.\"\"\"\n    url = f\"{BASE_URL}/media/{media_id}/processing-status\"\n    headers = {\"X-Api-Key\": API_KEY}\n\n    try:\n        response = requests.get(url, headers=headers, timeout=30)\n        response.raise_for_status()\n        return response.json()[\"data\"]\n    except requests.exceptions.RequestException as e:\n        print(f\"  Warning: Error retrieving status: {e}\")\n        return None\n\nwhile attempt < max_attempts:\n    status_data = get_media_status(media_id)\n\n    if not status_data:\n        print(f\"  Attempt {attempt + 1}/{max_attempts}: Failed to retrieve status, retrying...\")\n        time.sleep(poll_interval)\n        attempt += 1\n        continue\n\n    status = status_data.get(\"processing_status\")\n    progress = status_data.get(\"progress_percentage\", 0)\n\n    print(f\"  Attempt {attempt + 1}/{max_attempts}: Status={status}, Progress={progress}%\")\n\n    if status == \"success\":\n        print(f\"\\n✓ Media completed successfully!\")\n\n        # Get full media details\n        url = f\"{BASE_URL}/media/{media_id}\"\n        response = requests.get(url, headers=headers)\n        media_data = response.json()[\"data\"]\n\n        # Download video\n        download_url = f\"{BASE_URL}/media/{media_id}/download\"\n        print(\"\\nDownloading video...\")\n        try:\n            video_response = requests.get(download_url, headers=headers, stream=True, timeout=60)\n            video_response.raise_for_status()\n\n            output_path = \"media_video.mp4\"\n            total_size = int(video_response.headers.get('content-length', 0))\n            downloaded = 0\n\n            with open(output_path, \"wb\") as f:\n                for chunk in video_response.iter_content(chunk_size=8192):\n                    if chunk:\n                        f.write(chunk)\n                        downloaded += len(chunk)\n                        if total_size > 0:\n                            percent = (downloaded / total_size) * 100\n                            print(f\"  Download progress: {percent:.1f}%\", end=\"\\r\")\n\n            print(f\"\\n✓ Video downloaded successfully!\")\n            print(f\"  Saved to: {output_path}\")\n            print(f\"  File size: {downloaded / (1024 * 1024):.2f} MB\")\n\n        except Exception as e:\n            print(f\"\\n✗ Error downloading video: {e}\")\n        break\n    elif status == \"fail\":\n        print(f\"\\n✗ Media generation failed.\")\n        print(f\"  Media ID: {media_id}\")\n        exit(1)\n\n    time.sleep(poll_interval)\n    attempt += 1\n\nif attempt >= max_attempts:\n    print(f\"\\n⚠ Timeout: Media generation is taking longer than expected.\")\n    print(f\"  Media ID: {media_id}\")\n    print(f\"  Please check the status later using: GET {BASE_URL}/media/{media_id}/processing-status\")\n```\n\n## Error Handling\n\nThe API may return the following HTTP status codes:\n\n- `200` - Success. Media creation initiated.\n- `400` - Bad Request. Invalid parameters or missing required fields.\n- `402` - Payment Required. Insufficient credits in your account.\n- `404` - Not Found. Resource not found.\n- `429` - Too Many Requests. Rate limit exceeded.\n- `500` - Internal Server Error. Please retry or contact support.",
        "operationId": "create_media_api_media_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_media_api_media_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New Media",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "data": {
                    "id": "abc123-def456-ghi789",
                    "title": "Example Media",
                    "description": "Media description",
                    "rating": "",
                    "customer_id": "customer123",
                    "batch_id": "",
                    "base_url": "https://media.vimmerse.net/customer123/abc123-def456-ghi789",
                    "is_transition": "No",
                    "duration_time": "0",
                    "progress_percentage": 20,
                    "processing_status": "queue_bullet",
                    "visibility_status": "1",
                    "file_map": [
                      {
                        "FileType": "Texture",
                        "FileName": "filename.jpg"
                      }
                    ],
                    "submit_params": {
                      "native_audio": true,
                      "pipeline_preset": "Fast",
                      "file_size": "",
                      "scale_factor": "1"
                    },
                    "pose_preset": {
                      "MotionType": "Auto",
                      "Params": "Prompt=|CameraPath=|Quantity=1|MotionAmount=5|MotionLength=5|Loop=1"
                    },
                    "bullet_version": "0",
                    "video_history": [],
                    "result": [],
                    "webhook_url": "",
                    "nsfw": "0",
                    "created_at": "2025-04-01 18:57:37.355064+00:00",
                    "updated_at": "2025-04-01 18:57:55.502020+00:00",
                    "version": "2"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "example": {
                  "message": "INSUFFICIENT_CREDIT"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/media/{media_id}/processing-status": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get Media Processing Status",
        "description": "Retrieves the current processing status and progress percentage of a media object.\n\nThis lightweight endpoint is optimized for frequent polling and provides minimal response data for efficient status checking.\n\n## Response Fields\n\n| Field | Type | Description |\n|-------|------|-------------|\n| `progress_percentage` | integer | Processing progress (0-100) |\n| `processing_status` | string | Current processing state |\n\n## Status Values\n\n| Status | Meaning | Action |\n|--------|---------|--------|\n| `queue_bullet` | Waiting in queue | Keep polling |\n| `processing_bullet` | Video generation in progress | Keep polling |\n| `success` | Video ready | Download or retrieve results |\n| `fail` | Processing failed | Check error logs or retry |\n| `cancel` | Processing cancelled | No further action needed |\n\n## Example Request\n\n```python\nimport requests\n\nBASE_URL = \"https://api.vimmerse.net\"\nMEDIA_ID = \"your-media-id-here\"\n\nurl = f\"{BASE_URL}/media/{MEDIA_ID}/processing-status\"\nheaders = {\"X-Api-Key\": \"YOUR_API_KEY\"}\n\ntry:\n    response = requests.get(url, headers=headers, timeout=30)\n    response.raise_for_status()\n\n    result = response.json()\n    status_data = result[\"data\"]\n\n    print(f\"Progress: {status_data['progress_percentage']}%\")\n    print(f\"Status: {status_data['processing_status']}\")\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error: {e}\")\n```\n\n## Polling Example\n\n```python\nimport requests\nimport time\n\nBASE_URL = \"https://api.vimmerse.net\"\nMEDIA_ID = \"your-media-id-here\"\nAPI_KEY = \"YOUR_API_KEY\"\n\ndef check_media_status(media_id):\n    \"\"\"Check media processing status.\"\"\"\n    url = f\"{BASE_URL}/media/{media_id}/processing-status\"\n    headers = {\"X-Api-Key\": API_KEY}\n\n    try:\n        response = requests.get(url, headers=headers, timeout=30)\n        response.raise_for_status()\n        return response.json()[\"data\"]\n    except requests.exceptions.RequestException as e:\n        print(f\"Error checking status: {e}\")\n        return None\n\n# Poll until complete\nmax_attempts = 120  # Maximum 60 minutes\nattempt = 0\n\nwhile attempt < max_attempts:\n    status_data = check_media_status(MEDIA_ID)\n\n    if not status_data:\n        print(f\"Attempt {attempt + 1}/{max_attempts}: Failed to retrieve status\")\n        time.sleep(30)\n        attempt += 1\n        continue\n\n    progress = status_data.get(\"progress_percentage\", 0)\n    status = status_data.get(\"processing_status\")\n\n    print(f\"Attempt {attempt + 1}/{max_attempts}: Status={status}, Progress={progress}%\")\n\n    if status == \"success\":\n        print(\"\\n✓ Media completed successfully!\")\n        break\n    elif status == \"fail\":\n        print(\"\\n✗ Media generation failed.\")\n        break\n\n    time.sleep(30)  # Check every 30 seconds\n    attempt += 1\n\nif attempt >= max_attempts:\n    print(\"\\n⚠ Timeout: Processing is taking longer than expected.\")\n```",
        "operationId": "get_media_processing_status_media__media_id__processing_status_get",
        "responses": {
          "200": {
            "description": "Media progress percentage",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "data": {
                    "progress_percentage": "100",
                    "processing_status": "success"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/media/{media_id}": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Get Media",
        "description": "Retrieves detailed information about a specific media object, including processing status, generated videos, and metadata.\n\n## Response Fields\n\n| Field | Type | Description |\n|-------|------|-------------|\n| `id` | string | Unique media identifier |\n| `title` | string | Media title |\n| `description` | string | Media description |\n| `processing_status` | string | Current processing state (see Status Values below) |\n| `progress_percentage` | integer | Processing progress (0-100) |\n| `result` | array | Array of generated video objects with URLs |\n| `video_history` | array | Processing history with details of each generation |\n| `base_url` | string | Base URL for accessing media files |\n| `bullet_version` | integer | Version number of the generated video |\n| `created_at` | string | ISO 8601 timestamp of creation |\n| `updated_at` | string | ISO 8601 timestamp of last update |\n\n## Status Values\n\n- `queue_bullet` - Waiting in queue for processing\n- `processing_bullet` - Currently being processed\n- `success` - Completed successfully\n- `fail` - Failed to process\n- `cancel` - Processing was cancelled\n\n## Example Request\n\n```python\nimport requests\n\nBASE_URL = \"https://api.vimmerse.net\"\nMEDIA_ID = \"your-media-id-here\"\n\nurl = f\"{BASE_URL}/media/{MEDIA_ID}\"\nheaders = {\"X-Api-Key\": \"YOUR_API_KEY\"}\n\ntry:\n    response = requests.get(url, headers=headers, timeout=30)\n    response.raise_for_status()\n\n    result = response.json()\n    media_data = result[\"data\"]\n\n    print(f\"Media ID: {media_data['id']}\")\n    print(f\"Status: {media_data['processing_status']}\")\n    print(f\"Progress: {media_data.get('progress_percentage', 0)}%\")\n\n    if media_data['processing_status'] == 'success':\n        # Access generated videos\n        if media_data.get(\"result\"):\n            print(f\"Generated {len(media_data['result'])} video(s)\")\n            for idx, video in enumerate(media_data[\"result\"], 1):\n                print(f\"Video {idx}: {video.get('url', 'N/A')}\")\n        else:\n            # Download URL available\n            download_url = f\"{BASE_URL}/media/{MEDIA_ID}/download\"\n            print(f\"Download URL: {download_url}\")\n    elif media_data['processing_status'] == 'fail':\n        print(\"Media generation failed. Check error details.\")\n\nexcept requests.exceptions.HTTPError as e:\n    if e.response.status_code == 404:\n        print(\"Media not found. Please verify the media ID.\")\n    else:\n        print(f\"HTTP Error: {e}\")\nexcept requests.exceptions.RequestException as e:\n    print(f\"Request failed: {e}\")\n```\n\n## Use Cases\n\n- **Check Completion**: Verify if video generation is complete\n- **Retrieve URLs**: Get download URLs for generated videos\n- **Inspect History**: Review processing history and parameters\n- **Debug Issues**: Examine processing details for troubleshooting\n- **Field Selection**: Use `fields` query parameter to retrieve specific fields only",
        "operationId": "get_media_media__media_id__get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Media Object",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "data": {
                    "data": {
                      "id": "xyz789-abc123-def456",
                      "title": "Product Showcase",
                      "description": "Animated product video",
                      "rating": "5",
                      "customer_id": "customer123",
                      "batch_id": "batch456",
                      "base_url": "https://media.vimmerse.net/customer123/xyz789-abc123-def456",
                      "is_transition": "No",
                      "duration_time": "5.0",
                      "progress_percentage": 100,
                      "processing_status": "success",
                      "visibility_status": "1",
                      "file_map": [
                        {
                          "FileType": "Texture",
                          "FileName": "uploaded_file1.png"
                        }
                      ],
                      "submit_params": {
                        "native_audio": true,
                        "pipeline_preset": "Fast",
                        "file_size": "",
                        "scale_factor": "1"
                      },
                      "pose_preset": {
                        "MotionType": "Auto",
                        "Params": "Prompt=|CameraPath=|Quantity=1|MotionAmount=5|MotionLength=5|Loop=1|AspectRatio=16:9"
                      },
                      "bullet_version": "1",
                      "video_history": [
                        {
                          "pose_preset": {
                            "MotionType": "Auto",
                            "Params": "Prompt=|CameraPath=|Quantity=1|MotionAmount=5|MotionLength=5|Loop=1|AspectRatio=16:9"
                          },
                          "file_map": [
                            {
                              "FileType": "Texture",
                              "FileName": "uploaded_file1.png"
                            }
                          ],
                          "service_name": "RunwayML",
                          "service_seeds": [
                            6305
                          ],
                          "created_at": "2025-04-01 13:20:36.607637+00:00",
                          "service_version": "gen3a_turbo:2024-11-06",
                          "bullet_version": "1",
                          "resolution": [
                            1280,
                            704
                          ],
                          "submit_params": {
                            "native_audio": true,
                            "pipeline_preset": "Fast",
                            "file_size": "",
                            "scale_factor": "1"
                          }
                        }
                      ],
                      "result": [],
                      "webhook_url": "https://api.vimmerse.net/callback/content-created",
                      "nsfw": "0",
                      "service_name": "RunwayML",
                      "service_version": "gen3a_turbo:2024-11-06",
                      "created_at": "2025-04-01 13:19:10.786297+00:00",
                      "updated_at": "2025-04-01 13:20:37.032634+00:00",
                      "version": "2"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Media Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaNotFoundModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Media"
        ],
        "summary": "Update Media",
        "description": "Updates media metadata and optionally regenerates the video with new parameters.\n\n## Important Notes\n\n⚠️ **Credit Usage**: Updating certain fields triggers video regeneration and consumes credits.\n\n### Fields That Trigger Regeneration (Consumes Credits)\n- `prompt` - Text description\n- `motion_type` - AI model selection\n- `quantity` - Number of variations\n- `duration` - Video length\n- `loop` - Motion repetition count\n- `camera_control` - Camera path\n- `aspect_ratio` - Video dimensions\n- `audio_option` - Audio configuration\n- `media_items` - Input media configuration\n- `model` - Try-on model selection\n\n### Fields That Don't Trigger Regeneration (No Credit Cost)\n- `title` - Media title\n- `description` - Media description\n- `rating` - User rating\n- `visibility_status` - Access control\n- `webhook_url` - Webhook URL\n\n## Example 1: Update Metadata Only (No Regeneration)\n\n```python\nimport requests\n\nBASE_URL = \"https://api.vimmerse.net\"\nMEDIA_ID = \"your-media-id-here\"\n\nurl = f\"{BASE_URL}/media/{MEDIA_ID}/edit\"\nheaders = {\"X-Api-Key\": \"YOUR_API_KEY\"}\n\npayload = {\n    \"title\": \"Updated Product Video\",\n    \"description\": \"New description text\",\n    \"rating\": \"5\",\n    \"visibility_status\": \"2\"  # Make public\n}\n\ntry:\n    response = requests.put(url, headers=headers, data=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    print(f\"Media updated: {result['data']['id']}\")\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error: {e}\")\n```\n\n## Example 2: Regenerate Video (Uses Credits)\n\n```python\nimport requests\nimport json\n\nBASE_URL = \"https://api.vimmerse.net\"\nMEDIA_ID = \"your-media-id-here\"\n\nurl = f\"{BASE_URL}/media/{MEDIA_ID}/edit\"\nheaders = {\"X-Api-Key\": \"YOUR_API_KEY\"}\n\npayload = {\n    \"title\": \"Updated Video\",\n    \"motion_type\": \"RunwayML\",  # Triggers regeneration\n    \"duration\": 9,               # Triggers regeneration\n    \"camera_control\": \"HorizontalArc\",  # Triggers regeneration\n    \"audio_option\": json.dumps({\n        \"narrator\": \"Sarah\",\n        \"narration\": \"Updated narration text\",\n        \"bg_music_prompt\": \"Energetic background music\"\n    })\n}\n\ntry:\n    response = requests.put(url, headers=headers, data=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    media_data = result[\"data\"]\n\n    print(f\"Media regeneration started!\")\n    print(f\"Media ID: {media_data['id']}\")\n    print(f\"Status: {media_data['processing_status']}\")\n\nexcept requests.exceptions.HTTPError as e:\n    if e.response.status_code == 402:\n        print(\"Insufficient credits for regeneration\")\n    else:\n        print(f\"HTTP Error: {e}\")\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error: {e}\")\n```\n\n## Error Handling\n\n- `400` - Bad Request. Invalid parameters or media not found.\n- `402` - Payment Required. Insufficient credits for regeneration.\n- `404` - Not Found. Media not found or access denied.",
        "operationId": "update_media_api_media__media_id__put",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_media_api_media__media_id__put"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media Object",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "data": {
                    "id": "xyz789-abc123-def456",
                    "title": "Product Showcase",
                    "description": "Animated product video",
                    "rating": "5",
                    "customer_id": "customer123",
                    "batch_id": "batch456",
                    "base_url": "https://media.vimmerse.net/customer123/xyz789-abc123-def456",
                    "is_transition": "No",
                    "duration_time": "5.0",
                    "progress_percentage": 100,
                    "processing_status": "success",
                    "visibility_status": "1",
                    "file_map": [
                      {
                        "FileType": "Texture",
                        "FileName": "uploaded_file1.png"
                      }
                    ],
                    "submit_params": {
                      "native_audio": true,
                      "pipeline_preset": "Fast",
                      "file_size": "",
                      "scale_factor": "1"
                    },
                    "pose_preset": {
                      "MotionType": "Auto",
                      "Params": "Prompt=|CameraPath=|Quantity=1|MotionAmount=5|MotionLength=5|Loop=1|AspectRatio=16:9"
                    },
                    "bullet_version": "1",
                    "video_history": [
                      {
                        "pose_preset": {
                          "MotionType": "Auto",
                          "Params": "Prompt=|CameraPath=|Quantity=1|MotionAmount=5|MotionLength=5|Loop=1|AspectRatio=16:9"
                        },
                        "file_map": [
                          {
                            "FileType": "Texture",
                            "FileName": "uploaded_file1.png"
                          }
                        ],
                        "service_name": "RunwayML",
                        "service_seeds": [
                          6305
                        ],
                        "created_at": "2025-04-01 13:20:36.607637+00:00",
                        "service_version": "gen3a_turbo:2024-11-06",
                        "bullet_version": "1",
                        "resolution": [
                          1280,
                          704
                        ],
                        "submit_params": {
                          "native_audio": true,
                          "pipeline_preset": "Fast",
                          "file_size": "",
                          "scale_factor": "1"
                        }
                      }
                    ],
                    "result": [],
                    "webhook_url": "https://api.vimmerse.net/callback/content-created",
                    "nsfw": "0",
                    "service_name": "RunwayML",
                    "service_version": "gen3a_turbo:2024-11-06",
                    "created_at": "2025-04-01 13:19:10.786297+00:00",
                    "updated_at": "2025-04-01 13:20:37.032634+00:00",
                    "version": "2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "BAD_REQUEST"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "example": {
                  "message": "INSUFFICIENT_CREDIT"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/media/{media_id}/edit": {
      "put": {
        "tags": [
          "Media"
        ],
        "summary": "Update Media",
        "description": "Updates media metadata and optionally regenerates the video with new parameters.\n\n## Important Notes\n\n⚠️ **Credit Usage**: Updating certain fields triggers video regeneration and consumes credits.\n\n### Fields That Trigger Regeneration (Consumes Credits)\n- `prompt` - Text description\n- `motion_type` - AI model selection\n- `quantity` - Number of variations\n- `duration` - Video length\n- `loop` - Motion repetition count\n- `camera_control` - Camera path\n- `aspect_ratio` - Video dimensions\n- `audio_option` - Audio configuration\n- `media_items` - Input media configuration\n- `model` - Try-on model selection\n\n### Fields That Don't Trigger Regeneration (No Credit Cost)\n- `title` - Media title\n- `description` - Media description\n- `rating` - User rating\n- `visibility_status` - Access control\n- `webhook_url` - Webhook URL\n\n## Example 1: Update Metadata Only (No Regeneration)\n\n```python\nimport requests\n\nBASE_URL = \"https://api.vimmerse.net\"\nMEDIA_ID = \"your-media-id-here\"\n\nurl = f\"{BASE_URL}/media/{MEDIA_ID}/edit\"\nheaders = {\"X-Api-Key\": \"YOUR_API_KEY\"}\n\npayload = {\n    \"title\": \"Updated Product Video\",\n    \"description\": \"New description text\",\n    \"rating\": \"5\",\n    \"visibility_status\": \"2\"  # Make public\n}\n\ntry:\n    response = requests.put(url, headers=headers, data=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    print(f\"Media updated: {result['data']['id']}\")\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error: {e}\")\n```\n\n## Example 2: Regenerate Video (Uses Credits)\n\n```python\nimport requests\nimport json\n\nBASE_URL = \"https://api.vimmerse.net\"\nMEDIA_ID = \"your-media-id-here\"\n\nurl = f\"{BASE_URL}/media/{MEDIA_ID}/edit\"\nheaders = {\"X-Api-Key\": \"YOUR_API_KEY\"}\n\npayload = {\n    \"title\": \"Updated Video\",\n    \"motion_type\": \"RunwayML\",  # Triggers regeneration\n    \"duration\": 9,               # Triggers regeneration\n    \"camera_control\": \"HorizontalArc\",  # Triggers regeneration\n    \"audio_option\": json.dumps({\n        \"narrator\": \"Sarah\",\n        \"narration\": \"Updated narration text\",\n        \"bg_music_prompt\": \"Energetic background music\"\n    })\n}\n\ntry:\n    response = requests.put(url, headers=headers, data=payload, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    media_data = result[\"data\"]\n\n    print(f\"Media regeneration started!\")\n    print(f\"Media ID: {media_data['id']}\")\n    print(f\"Status: {media_data['processing_status']}\")\n\nexcept requests.exceptions.HTTPError as e:\n    if e.response.status_code == 402:\n        print(\"Insufficient credits for regeneration\")\n    else:\n        print(f\"HTTP Error: {e}\")\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error: {e}\")\n```\n\n## Error Handling\n\n- `400` - Bad Request. Invalid parameters or media not found.\n- `402` - Payment Required. Insufficient credits for regeneration.\n- `404` - Not Found. Media not found or access denied.",
        "operationId": "update_media_api_media__media_id__edit_put",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Body_update_media_api_media__media_id__edit_put"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media Object",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "data": {
                    "id": "xyz789-abc123-def456",
                    "title": "Product Showcase",
                    "description": "Animated product video",
                    "rating": "5",
                    "customer_id": "customer123",
                    "batch_id": "batch456",
                    "base_url": "https://media.vimmerse.net/customer123/xyz789-abc123-def456",
                    "is_transition": "No",
                    "duration_time": "5.0",
                    "progress_percentage": 100,
                    "processing_status": "success",
                    "visibility_status": "1",
                    "file_map": [
                      {
                        "FileType": "Texture",
                        "FileName": "uploaded_file1.png"
                      }
                    ],
                    "submit_params": {
                      "native_audio": true,
                      "pipeline_preset": "Fast",
                      "file_size": "",
                      "scale_factor": "1"
                    },
                    "pose_preset": {
                      "MotionType": "Auto",
                      "Params": "Prompt=|CameraPath=|Quantity=1|MotionAmount=5|MotionLength=5|Loop=1|AspectRatio=16:9"
                    },
                    "bullet_version": "1",
                    "video_history": [
                      {
                        "pose_preset": {
                          "MotionType": "Auto",
                          "Params": "Prompt=|CameraPath=|Quantity=1|MotionAmount=5|MotionLength=5|Loop=1|AspectRatio=16:9"
                        },
                        "file_map": [
                          {
                            "FileType": "Texture",
                            "FileName": "uploaded_file1.png"
                          }
                        ],
                        "service_name": "RunwayML",
                        "service_seeds": [
                          6305
                        ],
                        "created_at": "2025-04-01 13:20:36.607637+00:00",
                        "service_version": "gen3a_turbo:2024-11-06",
                        "bullet_version": "1",
                        "resolution": [
                          1280,
                          704
                        ],
                        "submit_params": {
                          "native_audio": true,
                          "pipeline_preset": "Fast",
                          "file_size": "",
                          "scale_factor": "1"
                        }
                      }
                    ],
                    "result": [],
                    "webhook_url": "https://api.vimmerse.net/callback/content-created",
                    "nsfw": "0",
                    "service_name": "RunwayML",
                    "service_version": "gen3a_turbo:2024-11-06",
                    "created_at": "2025-04-01 13:19:10.786297+00:00",
                    "updated_at": "2025-04-01 13:20:37.032634+00:00",
                    "version": "2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "BAD_REQUEST"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "example": {
                  "message": "INSUFFICIENT_CREDIT"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/media/{media_id}/download": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "Download File",
        "description": "Downloads file from media.\n\n### Example Code\nThis code shows an example of how to download `Bullet Video` from `Auto` motion.\n\n\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/media/{MEDIA_ID}/download?object_type=bullet_video_mp4&motion_type=Auto\"\n\nheaders = {\n  'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)\n```\n\n\nThis code shows an example of how to download `Bullet Video` with custom settings\n\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/media/{MEDIA_ID}/download?object_type=bullet_video_mp4&motion_type=Auto&width=1080&file_size=4\"\n\nheaders = {\n  'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)\n```",
        "operationId": "download_media_file_media__media_id__download_get",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "Return bullet video, gif or source files.",
            "content": {
              "application/json": {
                "schema": {}
              },
              "*": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/media/{media_id}/process": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "Process Media",
        "description": "Resubmits a media object for video generation using existing parameters.\n\n## Use Cases\n\n- **Retry Failed Generation**: Restart processing after a failure\n- **Regenerate with Same Parameters**: Create a new video with identical settings\n- **Restart Interrupted Processing**: Resume processing that was interrupted\n\n⚠️ **Important**: This endpoint consumes credits each time it's called, even if the media was previously processed successfully.\n\n## How It Works\n\nThe endpoint uses the existing media configuration (prompt, motion_type, duration, etc.) and resubmits it for processing. All parameters from the original media creation are preserved.\n\n## Example Request\n\n```python\nimport requests\n\nBASE_URL = \"https://api.vimmerse.net\"\nMEDIA_ID = \"your-media-id-here\"\n\nurl = f\"{BASE_URL}/media/{MEDIA_ID}/process\"\nheaders = {\"X-Api-Key\": \"YOUR_API_KEY\"}\n\ntry:\n    # Send POST request with empty body\n    response = requests.post(url, headers=headers, timeout=60)\n    response.raise_for_status()\n\n    result = response.json()\n    print(\"Media resubmitted successfully\")\n\nexcept requests.exceptions.HTTPError as e:\n    if e.response.status_code == 402:\n        print(\"Insufficient credits for resubmission\")\n    elif e.response.status_code == 404:\n        print(\"Media not found\")\n    else:\n        print(f\"HTTP Error: {e}\")\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error: {e}\")\n```\n\n## Error Responses\n\n- `400` - Bad Request. Media not found or invalid state.\n- `402` - Payment Required. Insufficient credits.\n- `404` - Not Found. Media not found or access denied.\n- `500` - Internal Server Error. Please retry or contact support.",
        "operationId": "submit_media_media__media_id__process_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "title": "Req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media Object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmptyObject"
                },
                "example": {
                  "data": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "BAD_REQUEST"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "example": {
                  "message": "INSUFFICIENT_CREDIT"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "NOT_FOUND"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/image": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Upload Image",
        "description": "Uploads images to the Vimmerse platform for use in API requests.\n\n### Benefits\n- Store images securely in the cloud\n- Reference images by URL in other API calls\n- Manage your media assets efficiently\n\n### Supported Formats\n- JPEG, JPG\n- PNG (with transparency support)\n- WebP\n\n### Usage\nAfter uploading, you'll receive a URL that can be used with the `image_url` parameter in other endpoints.",
        "operationId": "upload_image_asset_image_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_upload_image_asset_image_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New Image URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Upload Image Asset Image Post"
                },
                "example": {
                  "data": {
                    "id": "ASSET_ID",
                    "customer_id": "CUSTOMER_ID",
                    "primary_user_id": "CUSTOMER_ID",
                    "args": {},
                    "results": [
                      "result_url1",
                      "result_url2"
                    ],
                    "thumbnails": [],
                    "status": "success",
                    "mime_type": "MIMETYPE",
                    "app_name": "FUNCTION_NAME",
                    "created_at": "2025-05-06 16:35:59.840508+00:00",
                    "updated_at": "2025-05-06 16:35:59.840508+00:00",
                    "history": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/image/text-2-image": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Text to Image",
        "description": "Generates high-quality images from text prompts using advanced AI models.\n\n## Parameters\n\n| Parameter | Type | Required | Default | Description |\n|-----------|------|----------|---------|-------------|\n| `prompt` | string | Yes | - | Text description of the desired image. Be specific about style, composition, colors, and mood. |\n| `quantity` | integer | No | 1 | Number of images to generate. Range: 1-4. |\n| `option` | string | No | \"Auto\" | AI model to use. \"Auto\" automatically selects the best model. Other options depend on available models. |\n| `aspect_ratio` | string | No | \"16:9\" | Image dimensions. Available: \"21:9\", \"16:9\", \"4:3\", \"3:2\", \"1:1\", \"2:3\", \"3:4\", \"9:16\", \"9:21\" |\n| `creativity_strength` | integer | No | 5 | Control over creativity level. Range: 1-10. Higher values produce more creative variations. |\n| `enhance_image` | boolean | No | false | Apply 1× super-resolution enhancement during post-processing for higher quality output. |\n| `async_mode` | boolean | No | false | Enable asynchronous processing mode. Returns immediately with asset_id for polling. |\n| `webhook_url` | string | No | null | URL to receive completion notification via POST request when processing completes. |\n\n## Example Request\n\n\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/text-2-image\"\n\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY',\n}\npayload = {\n    \"quantity\": 3,  # Number of images to generate (1-4)\n    \"prompt\": \"A serene landscape with mountains and a lake at sunset\",\n    \"option\": \"Auto\",  # Image generation model\n    \"aspect_ratio\": \"16:9\"  # Image aspect ratio\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\nprint(response.text)\n```\n\n\n## Error Handling\n\nThe API may return the following HTTP status codes:\n\n- `200` - Success. Image generation initiated or completed (depending on async_mode).\n- `400` - Bad Request. Invalid parameters or missing required fields.\n- `402` - Payment Required. Insufficient credits in your account.\n- `500` - Internal Server Error. Please retry or contact support.",
        "operationId": "generate_prompt_2_image_image_text_2_image_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Body_generate_prompt_2_image_image_text_2_image_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New Image URLs",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "data": {
                    "id": "ASSET_ID",
                    "customer_id": "CUSTOMER_ID",
                    "primary_user_id": "CUSTOMER_ID",
                    "args": {},
                    "results": [
                      "result_url1",
                      "result_url2"
                    ],
                    "thumbnails": [],
                    "status": "success",
                    "mime_type": "MIMETYPE",
                    "app_name": "FUNCTION_NAME",
                    "created_at": "2025-05-06 16:35:59.840508+00:00",
                    "updated_at": "2025-05-06 16:35:59.840508+00:00",
                    "history": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/image/image-2-image": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Image to Image",
        "description": "Transforms images using text prompts with various editing modes.\n\n### Available Options\n\n#### Remake\n- Redesigns the image based on the prompt\n- Changes overall composition and elements\n- Best for major creative transformations\n\n#### Restructure\n- Completely restructures the image layout\n- Maintains visual style while changing composition\n- Ideal for dramatic scene changes\n\n#### Restyle\n- Applies artistic style transformations\n- Changes visual appearance while keeping content\n- Perfect for style transfer and artistic effects\n\n#### Sketch\n- Converts image to sketch/drawing style\n- Creates artistic line-based visuals\n- Great for illustrations and art styles\n\n#### ReplaceWith\n- Replaces specific objects with others\n- Must include \"replace\" and \"with\" in prompt\n- Perfect for object substitution\n\n#### RecolorTo\n- Changes colors of specific elements\n- Must include \"recolor\" and \"to\" in prompt\n- Ideal for color adjustments\n\n### Parameters\n- `image_file` or `image_url`: Source image (required)\n- `prompt`: Description of desired changes (required)\n- `option`: Edit mode (required)\n- `aspect_ratio`: Desired output ratio (optional)\n- `creativity_strength`: 1-10 scale for creativity (default: 5)\n- `quantity`: Number of variations, 1-4 (default: 1)\n\n### Examples\n\n#### Remake\n\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/image-2-image\"\n\npayload = {\n    'prompt': 'Make the shoe blue and change the wall to a sky background',\n    'aspect_ratio': '16:9',\n    'option': 'Remake',  # Redesign the image based on prompt\n    'creativity_strength': 3,  # 1-10 scale\n}\nfiles=[\n    ('image_file', ('image.png', open('/path/to/image.png', 'rb'), 'image/png'))\n]\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload, files=files)\nprint(response.text)\n```\n\n\n#### Restructure\n\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/image-2-image\"\n\npayload = {\n    'prompt': 'Transform into a well-manicured shrub in an English garden',\n    'aspect_ratio': '16:9',\n    'creativity_strength': 3,\n    'option': \"Restructure\"  # Completely restructures the image\n}\nfiles=[\n    ('image_file', ('image.png', open('/path/to/image.png', 'rb'), 'image/png'))\n]\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload, files=files)\nprint(response.text)\n```\n\n\n#### Restyle\n\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/image-2-image\"\n\npayload = {\n    'prompt': 'Transform into a majestic portrait style',\n    'aspect_ratio': '16:9',\n    'creativity_strength': 3,\n    'option': \"Restyle\"  # Applies artistic style changes\n}\nfiles=[\n    ('image_file', ('image.png', open('/path/to每一個.png', 'rb'), 'image/png'))\n]\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload, files=files)\nprint(response.text)\n```\n\n\n#### Sketch\n\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/image-2-image\"\n\npayload = {\n    'prompt': 'Convert to a medieval castle scene',\n    'aspect_ratio': '16:9',\n    'creativity_strength': 3,\n    'option': \"Sketch\"  # Converts image to sketch style\n}\nfiles=[\n    ('image_file', ('image.png', open('/path/to/image.png', 'rb'), 'image/png'))\n]\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload, files=files)\nprint(response.text)\n```\n\n\n#### Replace With\n\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/image-2-image\"\n\npayload = {\n    'prompt': 'Replace the shoe with a can of Pepsi',\n    'aspect_ratio': '16:9',\n    'creativity_strength': 3,\n    'option': \"ReplaceWith\"\n}\nfiles=[\n    ('image_file', ('image.png', open('/path/to/image.png', 'rb'), 'image/png'))\n]\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload, files=files)\nprint(response.text)\n```\n\n\n#### Recolor To\n\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/image-2-image\"\n\npayload = {\n    'prompt': 'Recolor the green shirt to white',\n    'aspect_ratio': '16:9',\n    'creativity_strength': 3,\n    'option': \"RecolorTo\"  # Changes colors in the image\n}\nfiles=[\n    ('image_file', ('image.png', open('/path/to/image.png', 'rb'), 'image/png'))\n]\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload, files=files)\nprint(response.text)\n```",
        "operationId": "image_2_image_api_image_image_2_image_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_image_2_image_api_image_image_2_image_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New Image URLs",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "data": {
                    "id": "ASSET_ID",
                    "customer_id": "CUSTOMER_ID",
                    "primary_user_id": "CUSTOMER_ID",
                    "args": {},
                    "results": [
                      "result_url1",
                      "result_url2"
                    ],
                    "thumbnails": [],
                    "status": "success",
                    "mime_type": "MIMETYPE",
                    "app_name": "FUNCTION_NAME",
                    "created_at": "2025-05-06 16:35:59.840508+00:00",
                    "updated_at": "2025-05-06 16:35:59.840508+00:00",
                    "history": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/image/elements": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Elements",
        "description": "Generates images with elements or replaces items based on prompts.\n\n### Use Cases\n- Add new elements to existing images\n- Remove unwanted objects\n- Replace objects with alternatives",
        "operationId": "elements_api_image_elements_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_elements_api_image_elements_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New Image URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Elements Api Image Elements Post"
                },
                "example": {
                  "data": {
                    "id": "ASSET_ID",
                    "customer_id": "CUSTOMER_ID",
                    "primary_user_id": "CUSTOMER_ID",
                    "args": {},
                    "results": [
                      "result_url1",
                      "result_url2"
                    ],
                    "thumbnails": [],
                    "status": "success",
                    "mime_type": "MIMETYPE",
                    "app_name": "FUNCTION_NAME",
                    "created_at": "2025-05-06 16:35:59.840508+00:00",
                    "updated_at": "2025-05-06 16:35:59.840508+00:00",
                    "history": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/image/replace-background": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Replace Background",
        "description": "Manipulates the background of images with three modes: remove, replace, or restyle.\n\n## Options\n\n### RemoveBackground\n- Creates a transparent background (PNG format)\n- Ideal for product photography and portrait editing\n- Output maintains foreground elements perfectly\n\n### ReplaceBackground\n- Replaces the background with a new image\n- Use `image2_file` or `image2_url` to provide the replacement background\n- Best for changing scenes or environments\n\n### RestyleBackground\n- Applies artistic style from a reference image\n- Use `image2_file` or `image2_url` to provide the style reference\n- Great for creating unique visual effects\n\n## Parameters\n\n| Parameter | Type | Required | Default | Description |\n|-----------|------|----------|---------|-------------|\n| `image_file` or `image_url` | file/string | Yes | - | Main image with background to modify |\n| `image2_file` or `image2_url` | file/string | Yes* | - | Background image for ReplaceBackground or RestyleBackground |\n| `option` | string | Yes | - | Operation mode: \"RemoveBackground\", \"ReplaceBackground\", or \"RestyleBackground\" |\n| `async_mode` | boolean | No | false | Enable asynchronous processing mode |\n| `webhook_url` | string | No | null | URL to receive completion notification |\n\n*Required for ReplaceBackground and RestyleBackground options\n\n## Examples\n\n### Remove Background\n{REMOVE_BG_EXAMPLE}\n\n### Replace Background\n{REPLACE_BG_EXAMPLE}\n\n### Restyle Background\n{RESTYLE_BG_EXAMPLE}\n\n## Error Handling\n\n- `400` - Bad Request. Invalid parameters or missing required fields.\n- `402` - Insufficient credits.\n- `500` - Internal Server Error.",
        "operationId": "replace_background_api_image_replace_background_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_replace_background_api_image_replace_background_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modified image url.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Replace Background Api Image Replace Background Post"
                },
                "example": {
                  "data": {
                    "id": "ASSET_ID",
                    "customer_id": "CUSTOMER_ID",
                    "primary_user_id": "CUSTOMER_ID",
                    "args": {},
                    "results": [
                      "result_url1",
                      "result_url2"
                    ],
                    "thumbnails": [],
                    "status": "success",
                    "mime_type": "MIMETYPE",
                    "app_name": "FUNCTION_NAME",
                    "created_at": "2025-05-06 16:35:59.840508+00:00",
                    "updated_at": "2025-05-06 16:35:59.840508+00:00",
                    "history": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/image/edit-image": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Edit Image",
        "description": "Performs various image editing operations including text removal, upscaling, expansion, and inpainting.\n\n## Available Options\n\n### RemoveText\n- Automatically detects and removes text from images\n- Uses AI to intelligently fill removed areas\n- Perfect for cleaning up signage, watermarks, or captions\n\n### Upscale\n- Increases image resolution up to 4x\n- Uses super-resolution AI technology\n- Maintains image quality and detail\n\n### ExpandToAspectRatio\n- Expands image to match the specified aspect ratio\n- Uses AI to generate realistic extended content\n- Requires `aspect_ratio` parameter\n\n### Inpaint\n- Fills in masked areas based on a text prompt\n- Requires both an image and a mask file\n- White areas in the mask indicate regions to fill\n- Can generate multiple variations\n\n## Parameters\n\n| Parameter | Type | Required | Default | Description |\n|-----------|------|----------|---------|-------------|\n| `image_file` or `image_url` | file/string | Yes | - | Source image to edit |\n| `mask_file` or `mask_url` | file/string | Yes* | - | Mask image for inpainting (required for Inpaint option) |\n| `option` | string | Yes | - | Edit operation: \"RemoveText\", \"Upscale\", \"ExpandToAspectRatio\", or \"Inpaint\" |\n| `aspect_ratio` | string | Yes* | - | Desired ratio for ExpandToAspectRatio (e.g., \"16:9\", \"9:16\", \"1:1\") |\n| `prompt` | string | Yes* | - | Description for Inpaint option (what to generate in masked area) |\n| `quantity` | integer | No | 1 | Number of variations for Inpaint. Range: 1-4 |\n| `expand_method` | string | No | \"Outpaint\" | Method for ExpandToAspectRatio: \"Outpaint\" or \"Pad\" |\n| `expand_direction` | string | No | \"center\" | Direction for expansion: \"center\", \"top/left\", \"bottom/right\" |\n| `reframe_parameters` | string (JSON) | No | null | JSON string for reframe parameters (grid_position_x, grid_position_y, x_start, x_end, y_start, y_end) |\n| `async_mode` | boolean | No | false | Enable asynchronous processing mode |\n| `webhook_url` | string | No | null | URL to receive completion notification |\n\n*Required for specific options only\n\n## Examples\n\n### Remove Text\n{REMOVE_TEXT_EXAMPLE}\n\n### Upscale Image\n{UPSCALE_IMAGE_EXAMPLE}\n\n### Expand Image\n{EXPAND_IMAGE_EXAMPLE}\n\n### Inpaint Image\n{INPAINT_IMAGE_EXAMPLE}\n\n## Error Handling\n\n- `400` - Bad Request. Invalid parameters, missing required fields, or invalid option.\n- `402` - Insufficient credits.\n- `500` - Internal Server Error.",
        "operationId": "edit_img_api_image_edit_image_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_edit_img_api_image_edit_image_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Modified image url.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Edit Img Api Image Edit Image Post"
                },
                "example": {
                  "data": {
                    "id": "ASSET_ID",
                    "customer_id": "CUSTOMER_ID",
                    "primary_user_id": "CUSTOMER_ID",
                    "args": {},
                    "results": [
                      "result_url1",
                      "result_url2"
                    ],
                    "thumbnails": [],
                    "status": "success",
                    "mime_type": "MIMETYPE",
                    "app_name": "FUNCTION_NAME",
                    "created_at": "2025-05-06 16:35:59.840508+00:00",
                    "updated_at": "2025-05-06 16:35:59.840508+00:00",
                    "history": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/image/face-swap": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Face Swap",
        "description": "Swaps faces in an image with faces from other uploaded images.\n\n### How It Works\n- Upload a main image containing the face(s) to be replaced\n- Upload one or more images containing the replacement faces\n- The API automatically detects and swaps faces matching the order of images\n\n### Parameters\n- `image_files`: List of image files to upload (required if not using URLs)\n- `image_urls`: List of image URLs (required if not using files)\n- `order_indices`: Array of face indices to swap (optional, e.g., [0, 1])\n- `main_image_url`: Deprecated - use `image_urls` instead\n- `human_image_url`: Deprecated - use `image_urls` instead\n\n### Best Practices\n- First image: Image containing face(s) to be replaced\n- Subsequent images: Images with replacement faces\n- Ensure faces are clearly visible and well-lit\n- Supported formats: JPG, PNG, WebP\n\n#### Example: Using File Upload\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/face-swap\"\n\nfiles=[\n    ('image_files', ('main_image.png', open('/path/to/main_image.png', 'rb'), 'image/png')),\n    ('image_files', ('human1_image.jpeg', open('/path/to/human_image.jpeg', 'rb'), 'image/jpeg')),\n    ('image_files', ('human2_image.jpeg', open('/path/to/second_face.jpeg', 'rb'), 'image/jpeg'))\n]\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\npayload = {\n    'order_indices': [0, 1]  # Optional: specify which faces to swap\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload, files=files)\nprint(response.text)\n```\n\n#### Example: Using URLs\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/face-swap\"\n\npayload = {\n    'image_urls': [\n        \"https://example.com/main_image.png\",\n        \"https://example.com/human_image1.png\",\n        \"https://example.com/human_image2.png\"\n    ],\n    'order_indices': [0, 1]  # Optional\n}\n\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\nprint(response.text)\n```",
        "operationId": "face_swap_api_image_face_swap_post",
        "security": [
          {
            "APIKeyHeader": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_face_swap_api_image_face_swap_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New Image URLs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "title": "Response Face Swap Api Image Face Swap Post"
                },
                "example": {
                  "data": {
                    "id": "ASSET_ID",
                    "customer_id": "CUSTOMER_ID",
                    "primary_user_id": "CUSTOMER_ID",
                    "args": {},
                    "results": [
                      "result_url1",
                      "result_url2"
                    ],
                    "thumbnails": [],
                    "status": "success",
                    "mime_type": "MIMETYPE",
                    "app_name": "FUNCTION_NAME",
                    "created_at": "2025-05-06 16:35:59.840508+00:00",
                    "updated_at": "2025-05-06 16:35:59.840508+00:00",
                    "history": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient Credit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FailureResponseModel"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/image/try-on": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Try On",
        "description": "Generates a virtual try-on image by overlaying clothing onto a human subject.\n\n### How It Works\nThis API combines a human image and a clothing image to create a realistic visualization of how the clothing looks on the person.\n\n### Parameters\n- `human_image_file` or `human_image_url`: Image of a person (required)\n- `clothes_image_file` or `clothes_image_url`: Image of clothing to try on (required)\n- `option`: Try-on method (default: \"Auto\")\n\n### Requirements\n- Human image should feature a person in standing pose, facing forward\n- Clothing image should be clear and show the garment on a plain background\n- Both images should be well-lit and in focus\n\n#### Example: Using File Upload\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/try-on\"\n\nfiles=[\n    ('human_image_file', ('human_image.jpeg', open('/path/to/human_image.jpeg', 'rb'), 'image/jpeg')),\n    ('clothes_image_file', ('clothes_image.jpeg', open('/path/to/clothes_image.jpeg', 'rb'), 'image/jpeg'))\n]\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\npayload = {}  # Optional parameters\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload, files=files)\nprint(response.text)\n```\n\n#### Example: Using URLs\n```python\nimport requests\n\nurl = \"https://api.vimmerse.net/image/try-on\"\n\npayload = {\n    \"human_image_url\": \"https://example.com/human_image.png\",\n    \"clothes_image_url\": \"https://example.com/clothes_image.png\"\n}\n\nheaders = {\n    'X-Api-Key': 'YOUR_API_KEY'\n}\n\nresponse = requests.request(\"POST\", url, headers=headers, data=payload)\nprint(response.text)\n```",
[...]
